@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.glow {
  box-shadow: 0 0 5px theme("colors.cyan.400"), 0 0 20px theme("colors.cyan.400");
}

.glow:hover {
  box-shadow: 0 0 10px theme("colors.cyan.400"), 0 0 40px theme("colors.cyan.400");
}